*		{box-sizing:border-box; -mox-box-sizing:border-box;}
body 	{margin:0; padding: 0; font-size: 62.5%; font-family: Helvetica, Arial, sans-serif;}
form	{margin:10px 0; padding: 0;}
ul 		{list-style: none; margin:10px 0; padding: 0; width: 100%;}
li 		{width: 100%;}
a 		{text-decoration: none; color: #369;}

.wrapper {
	max-width: 900px; margin:0 auto; font-size: 1.4em;
}

.list-view li {
	padding: 5px 10px;
	margin: 0;
	max-width: 360px;
}

.list-view li a {
	float: right;
}

.list-view li:hover {
	background-color: #f2f2f2;
}

.details-view p{
	line-height: 1.8em;
}

.details-view ul{
	margin-left: 10px;
}

.details-view li{
	margin-bottom: 4px;
	padding-left: 10px;
}

.details-view li:before {
	content: '\00BB';
	padding-right: 4px;
	margin-left: -13px;
}

@media screen and ( max-width: 920px ){
	.wrapper {
		padding:0 10px;
	}
}